.cart-items{
    max-height: 20rem;
    overflow-y: scroll;
}
.total{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.actions{
    display: flex;
    justify-content: space-between;
}
.actions button{
    padding: 0.2rem 0.7rem;
    border: none;
}
.actions .button--order{
    background-color: beige;
}