.meal{
    border-bottom: 1px solid white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-weight: bolder;
    color: var(--primary-color);
}