.form button{
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-white);
    border-radius: 1rem;
    transition: 0.5s ease;
    cursor: pointer;
}
.form button:hover{
    transform: scale(1.1);
}