.card{
    background-color: var(--primary-color1);
    width: 60%;
    margin:2rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
        margin:2rem auto;
    }
}