.button{
    border: 1px solid var(--primary-color);
    color: var(--text-black-alt);
    background-color: transparent;
    padding: 0.5rem 1rem;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.5s ease;
}
.button:hover,
.button:active{
    border: 1px solid black;
}

.icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.badge{
    background-color: rgb(255, 255, 255);
    padding: 0.25rem;
    border-radius: 30px;
    color: var(--text-black-alt);
    margin-left: 0.5rem;
    font-weight: bolder;
}
.bump {
    animation:  bump 100ms ease-out;
}
@keyframes bump{
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(0.9);
    }
    30%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.15);
    }
    10%{
        transform: scale(1);
    }
}